.tag {
  color: var(--colour-text-light);
  padding: 0 10px;
  background-color: var(--colour-card-border);
  display: inline-flex;
  align-items: center;
  transition: background-color 0.2s ease, transform 0.1s ease, box-shadow 0.1s ease;
}