.cardInner {
  border: 3px solid var(--colour-card-border);
  padding: 25px 25px;
  height: 100%;
  position: relative;
}

.corner {
  position: absolute;
  width: 10px;
  height: 10px;
	background: var(--colour-card-border);
}

.cornerTopLeft {
  top: 0; left: 0;
}

.cornerTopRight {
  top: 0; right: 0;
}
.cornerBottomLeft {
  bottom: 0; left: 0;
}
.cornerBottomRight{
  bottom: 0; right: 0;
}

@media (max-width: 1120px) {
  .cardInner {
    padding: 15px 15px;
  }
}

@media (max-width: 1030px) {
  .cardInner {
    padding: 25px 25px;
  }
}

@media (max-width: 550px) {
  .cardInner {
    padding: 15px 10px;
  }
}