.cardContentsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  max-width: 100%;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: flex;
    align-items: center;
  }
}

.avatarContainer {
  border: 3px solid var(--colour-avatar-border);
  background-color: var(--colour-avatar-background);
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;

  .avatar {
    max-width: 100%;
    max-height: 100%;
  }
}

.medal {
  width: 13px;
  margin-right: 8px;
}

.ratingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.starContainer {
  display: flex;
  flex-direction: row;
  width: 25px;
  justify-content: center;
  margin: 10px 0;
}

@media (max-width: 1030px) {
    .cardContentsContainer {
    li {
      font-size: 18px;
    }
  }
}