.skillBarWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.label {
  font-size: 18px;
}

.icon {
  width: 26px;
  height: 26px;
}

.bar {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.segmentFilled,
.segmentEmpty {
  width: 15px;
  height: 22px;
  border-radius: 4px;
  border: 1px solid var(--colour-card-border);
  box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 0px;
}

.segmentFilled {
  background: linear-gradient(180deg, var(--colour-skillbar-filled-one), var(--colour-skillbar-filled-two));
}

.segmentEmpty {
  background: linear-gradient(180deg, var(--colour-skillbar-empty-one), var(--colour-skillbar-empty-two));
}

@media (max-width: 1280px) {
  .skillBarWrapper {
    gap: 5px;
  }
}

.segment {
  width: 15px;
  height: 22px;
  border-radius: 4px;
  border: 1px solid var(--colour-card-border);
  box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 0px;
  background: linear-gradient(180deg, var(--colour-skillbar-empty-one), var(--colour-skillbar-empty-two));
}

.animate .segmentFilled {
  background: linear-gradient(90deg, 
    var(--colour-skillbar-filled-one) 0%,
    var(--colour-skillbar-filled-two) 50%,
    var(--colour-skillbar-empty-one) 50%,
    var(--colour-skillbar-empty-two) 100%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: fillSegment 0.2s forwards;
}

@keyframes fillSegment {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0% 0;
  }
}