.projects {
  height: 100%;
  padding: 100px 250px;
  background-color: var(--colour-section-background);
  background-image:
    linear-gradient(to right, var(--colour-card-border) 1px, transparent 1px),
    linear-gradient(to bottom, var(--colour-card-border) 1px, transparent 1px);
  background-size: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: var(--colour-text-light);
  }
}

 .projectCardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 30px;
  align-items: stretch;
  max-width: 1200px;
  justify-content: center;
}

.cardItem {
  display: flex;
  flex: 1 1 300px;
  max-width: 340px;

  .projectContents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 35px;
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

.projectInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.tagsContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

@media (max-width: 1520px) {
  .projects {
    padding: 40px 130px;
  }
}

@media (max-width: 1280px) {
  .projects {
    padding: 40px 50px;
  }
}

@media (max-width: 900px) {
  .cardItem {
    flex: 1 1 260px;
    max-width: 320px;
  }
}

@media (max-width: 700px) {
  .projectCardsContainer {
    gap: 30px 20px;
  }

  .cardItem {
    flex: 1 1 100%;
    max-width: 300px;
  }
}