.stats {
  height: 100%;
  padding: 40px 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  font-size: 20px;
  gap: 40px;
  -webkit-mask-image: linear-gradient(to top, var(--colour-section-background) 90%, transparent 100%);
  mask-image: linear-gradient(to top, var(--colour-section-background) 90%, transparent 100%);

  h2, h3 {
    text-align: center;
  }

  h2 {
    margin-bottom: 20px;
  }

  h3 {
    text-align: left;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: flex;
    align-items: center;
  }
}

.playerCardColumn {
  flex: 0 0 330px;
  display: flex;
  width: 300px;
}

.abilitiesCard {
  flex: 1;
  display: flex;
}

.playerCardColumn > * {
  flex: 1 1 0;
  min-width: 0;
  width: 100%;
}

.abilitiesCard > * {
  flex: 1;
}

.abilitiesCard {
  ul {
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 4px;
    margin-top: 10px;
  }

  li {
    padding: 5px 0;
    width: 45%;  
  }
}

.professionalAbilities {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px 20px;

  img {
    width: 20px;
    margin-right: 15px;
  }
}

.hobbiesContainer {
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin-top: 19px;

  img {
    width: 25px;
  }
}

@media (max-width: 1520px) {
  .stats {
    padding: 40px 130px;
  }
}

@media (max-width: 1280px) {
  .stats {
    padding: 40px 50px;
    gap: 20px;
  }

  .professionalAbilities img {
    margin-right: 10px;
  }
}

@media (max-width: 1030px) {
  .stats {
    flex-direction: column;
    padding: 100px 50px 30px 50px;
  }

  .playerCardColumn {
    display: none;
  }

  .professionalAbilities {
    gap: 30px;
    padding: 10px 0;

    .listContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 20px;

      ul {
        justify-content: space-between;
      }
    }
  }
}

@media (max-width: 900px) {
  .stats {
    padding: 50px 40px 30px 40px;
  }
}

@media (max-width: 700px) {
  .professionalAbilities {
    flex-direction: column;

    .listContainer ul {
      margin-left: 90px;
    }
  }
}


@media (max-width: 550px) {
  .abilitiesCard {
    ul {
      font-size: 20px;
    }

    h2 {
      font-size: 25px;
    }
  }

  .professionalAbilities {
    .listContainer ul {
      margin-left: 23px;
      justify-content: center; 
    }
  }
}