.layer {
  position: fixed;
  top: 0;
  left: 50%;
  width: max(100vw, 100vh * var(--background-image-aspect));
  height: max(100vh, 100vw / var(--background-image-aspect));
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 0;
}