.backToTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  background-color: var(--colour-card-background);
  color: var(--colour-text-light);
  font-size: 24px;
  cursor: pointer;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 999;
  padding-top: 5px;
}

.visible {
  opacity: 0.5;
  transform: translateY(0);
}

.backToTop:focus {
  opacity: 1;
}

.backToTop:hover {
  opacity: 1;
}